header {
    padding: 20px;
}

h1 {
    text-align: center;
}

.tasksLab5, .tasksLab6 {
    text-align: center;
}

.tasksLab5 button, .tasksLab6 button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(78, 240, 224);
    border: none;
    border-radius: 15px;
}


#editorSection {
    margin-top: 20px;
}

.toolbar {
    margin-top: 10px;
}

.toolbar button {
    margin: 10px;
    padding: 10px;
    background-color: rgb(162, 160, 235);
    border: none;
    border-radius: 10px;
}

#formattedText {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    min-height: 100px;
    font-size: 16px;
    white-space: pre-wrap;
}